* {
  background-color: blue;
  color: white;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-justify: inter-character;
  max-width: 70%;
  font-size: 1em;
  line-height: 1.25;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 2em;
  }

  * {
    background-color: red;
    color: white;
  }
}

@media only screen and (min-width: 1280px) {
  p {
    font-size: 3em;
  }

  * {
    background-color: green;
    color: white;
  }
}
