/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: darkblue;
  box-shadow: inset 0 0 50px 10px black;
}

.text {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

.main-image {
  width: 260px;
  height: 290px;
  display: block;
  object-fit: cover;
  border: 3px solid magenta;
}

.wrapper {
  overflow: hidden;
}

#h2-wrapper {
  height: 21px;
}

#h2 {
  margin-top: 2px;
  font-size: 13.95px;
  font-weight: normal;
  transform: scale(1, 2);
}

#h1-wrapper {
  height: 115px;
}

#h1 {
  margin-top: 38px;
  font-size: 31.6px;
  font-weight: bold;
  text-shadow: 2px 0.3px 0px magenta;
  transform: scale(1, 5);
}

#h3-wrapper {
  height: 45px;
}

#h3 {
  margin-top: 11px;
  font-size: 14.5px;
  font-weight: normal;
  transform: scale(1, 4);
}

#h4-wrapper {
  display: flex;
  width: 300px;
  margin-left: -20px;
  /* margin-top: 16px; */
  background-color: white;
  box-shadow: inset -100px 0 50px -100px black, inset 100px 0 50px -100px black;
}

.h4-item {
  flex-grow: 2;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9.5px;
  font-weight: normal;
  text-align: center;
  color: magenta;
  text-shadow: 1px 1px 0px black;
}

#item-1 {
  flex-grow: 1;
  margin: 0px 4px;
}

#item-4 {
  flex-grow: 1;
  margin: 0px 6px;
}
