/** 
 * A very basic CSS reset:
 * More about CSS resets: https://meyerweb.com/eric/tools/css/reset/
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** 
 * Card sizing and positioning.
 * Don't mess with this!
 */
.card {
  width: 300px;
  height: 540px;
  margin: 40px auto 0 auto;
}

/** 
 * Just some styling to make the card visible.
 * Feel free to change this!
 */

.card {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0px 5px black;
}

#sketch-wrapper {
  position: absolute;
  z-index: 0;
}

#intro-wrapper {
  position: absolute;
  z-index: 1;
  width: 296px;
  height: 540px;
  display: block;
  padding: 120px 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#intro {
  background-color: white;
  box-shadow: 0px 2px black;
  width: 256px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#start {
  width: 256px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 0px 2px black;
}

#title {
  font-size: 1.9rem;
  margin-bottom: 10px;
}

#menu-wrapper {
  width: 296px;
  height: 536px;
  padding: 20px;
}

.menu,
.options {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 256px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 2px black;
  border: 2px solid black;
  border-radius: 15px;
}

.options {
  width: 99px;
  display: flex;
  flex-direction: column;
  bottom: 92px;
}

.button1,
.button2,
.paper,
.size,
.color,
#intro {
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}

.paper,
.size,
.color {
  width: 75px;
  height: 34px;
  margin-top: 5px;
}

.paper:hover,
.size:hover,
.color:hover {
  border-width: 4px;
}

.button1,
.button2 {
  padding: 5px 0px;
  background-color: white;
  width: 55px;
  text-align: center;
}

.button2 {
  width: 75px;
}

.button1:hover,
.button2:hover {
  color: white;
  background-color: black;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#footer {
  bottom: 22px;
}

#sizes {
  left: 99px;
}

#colors {
  right: 20px;
}

.sizes {
  background-color: black;
  border-radius: 500px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: yellow;
}

#color4 {
  background-color: #00ff00;
}

#color5 {
  background-color: blue;
}

#paper1 {
  background-color: #fdf6e3;
}

#paper2 {
  background-color: #ffffff;
}

#paper3 {
  background-color: #d5b59c;
}

#circle1 {
  width: 5px;
  height: 5px;
}

#circle2 {
  width: 15px;
  height: 15px;
}

#circle3 {
  width: 25px;
  height: 25px;
}

#colors,
#papers,
#sizes {
  display: none;
}

#paper1,
#size1,
#color1 {
  margin-top: 0px;
}
