* {
  font-family: "Garamond";
  color: white;
  background-color: sienna;
  text-align: center;
}

h2 {
  font-weight: bold;
}

h4 {
  font-weight: normal;
}

#teas,
#cards {
  display: inline-flex;
  flex-grow: 1;
}
